.tabmenu
{
	width: 97%;
	position: relative;
	margin: 5px;
}

.tab_top_active
{
	float: left;
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	margin-bottom: -1px;
	margin-right: -1px;
	border-color: #000000;
	color: #000000;
	font-weight: bold;
	font-family: calibri;
	padding: 5px;
	cursor: pointer;
}

.tab_top_passive
{
	float: left;
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	margin-bottom: -1px;
	margin-right: -1px;
	border-color: #808080;
	color: #808080;
	font-family: calibri;
	padding: 5px;
	cursor: pointer;
}

.tab_box
{
	float: left;
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	border-color: #000000;
	width: 100%;
	height: 100%;
}